body {
    background-color: black;
}

.logo {
    display: flex;
    margin-left: 30px;
    padding-top: 15px;
}
ul{
    display: flex;
    justify-content: center ;
}
ul li{
    list-style: none;
    margin-top: -45px;
    
}
ul li a{
    color: white;
    margin-left: 100px;
    margin-right: 10px;
    text-decoration: none;
}
.btn a{
    text-decoration: none;
    color: black;
}
.btn1 a{
    text-decoration: none;
    color: black;
}
.main-container {
    background-image: url('movieimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%;
    height: 600px;
    width: 1605px;
    margin-left: -60px;
    margin-top: -30px;
}

.stranger {
    color: white;
    margin-left: 70px;
    padding-top: 170px;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.things {
    color: white;
    margin-left: 120px;
    margin-top: -40px;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.top-btn {
    margin-bottom: 50px;
    margin-top: 50px;
}

.btn {
    height: 40px;
    width: 100px;
    background-color: white;
    border: 1px solid gray;
    color: black;
    margin-left: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn1 {
    height: 40px;
    width: 100px;
    background-color: gray;
    border: 1px solid white;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    margin-left: 270px;
    height: 40px;
    width: 100px;
    background-color: black;
    border: 1px solid gray;
    color: white;
}
p {
    line-height: 0.7;
    color: white;
    margin-left: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3{
    color: white;
}

.movie-img{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.hollywood{
    margin-top: 60px;
    margin-bottom: -30px;
}
.tv-show-content{
    margin-top: 40px;

}
.movie:hover{
    border: 1px solid gray;
}

.btn:hover{
    border: 2px solid red;
}
.btn1:hover{
    border: 2px solid red;
}
footer {
    border-top: 1px solid gray;
    margin-top: 40px;
}
.main-footer{
    color: gray;
}
.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 300px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.footer-netflix-india {
    margin-left: 200px;
}